################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UserSettings
/Temp
/obj/Debug
/Logs
/Library
/GPU-GEMS-Improved-Perlin-Noise.sln
/Assembly-CSharp.csproj
/.vs/GPU-GEMS-Improved-Perlin-Noise/v16/TestStore/0
